.DS_Store
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
*.log
.DS_Store
*.cpp
.DS_Store
Python Example/homie-python.json
.DS_Store
.DS_Store
.DS_Store
micropython/5.2.15 OTA update · Pycom Documentation.webloc
micropython/appelsiini.net:2017:wipy-esp32-firmware-cli.webloc
*/.DS_Store
